/* ESERCIZIO 1 */
.ex-1-square:hover {
    animation: color-change 3s;
}
  
@keyframes color-change {
    0% {
      background-color: none;
    }

    100% {
      background-color: red;
    }
}

/* ESERCIZIO 2 */
.ex-2-square:active {
    animation: width-change 3s;
}

@keyframes width-change {

    0% {
        width: 100px; /* ho visto che non cambia indicare il valore iniziale o meno nel keyframes per correttezza stavolta lo lascio */
    }

    100% {
      width: 100%;
    }
}

/* ESERCIZIO 3 */
.ex-3-square:hover {
    animation: circle 3s;
}

@keyframes circle {
    
    0 {
        border-radius: 0; /* ho visto che non cambia indicare il valore iniziale o meno nel keyframes per correttezza stavolta lo lascio */
    }
    
    100% {
        border-radius: 50%;
    }
}

/* ESERCIZIO 4 */
